.prezContainer {
    /* background-image: url(../); */
}

.prezContainer p {
    margin: 0 auto 2rem;
}

.activityTable {
    min-height: 20rem;
    margin: auto;
}

.activityTable img {
    width: 4rem;
}

.activityTable span {
    margin-left: 1.25rem;
    font-size: 1.5rem;
    text-transform: capitalize;
}

/* .activityWrapper {
    width: 18rem;
    padding: 1rem;
    margin: auto;
    border: solid 2px var(--dark);
}

.activityWrapper img {
    width: 56px;
    margin: 0;
}

.activityWrapper p {
    margin: 0 0 0 1rem;
}

.activityContainer {
    margin: 0 auto;
    width: 100%;
} */

.superAtoutsContainer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        "titre titre titre titre titre titre titre titre"
        ". pouce1 pouce1 . . pouce2 pouce2 ."
        "atouts atouts atouts atouts atouts atouts atouts atouts"
    ;
    width: 100%;
}

.titreAtouts {
    grid-area: titre;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titreAtouts h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dark);
}


.img_pouce1 {
    grid-area: pouce1;
    width: 60px;
    margin: auto;
}

.img_pouce1 img {
    width: 100%;
}

.img_pouce2 {
    grid-area: pouce2;
    width: 60px;
    margin: auto;
}

.img_pouce2 img {
    width: 100%;
}

#img_pouce1,
#img_pouce2,
#titreAtouts {
    padding: 10px;
}

.atoutsContainer {
    grid-area: atouts;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: antiquewhite;
}

.atouts {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    color: var(--dark);
    margin: auto;
}

@media(min-width: 576px) {
    .prezContainer p {
        width: 30rem;
    }

    /* .activityWrapper p {
    }

    .activityWrapper img {
        width: 72px;
    } */
}

@media(min-width: 768px) {
    .prezContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }

    .prezContainer p {
        width: 50%;
        margin: auto;
    }

    .activityTable img {
        width: 5rem;
    }
    
    .activityTable span {
        font-size: 1.5rem;
    }

    /* .activityWrapper {
        margin: 0;
    } */
}

@media (min-width: 992px) {

    /* .mainTitles {
        grid-area: aPropos;
    } */

  

    /* .activityWrapper img {
        width: 96px;
    } */

    /* .activityContainer {
        padding: 0.5rem 0;
    } */

    /* /////////////////////////////////////////////////////////////////////////////// */

    .superAtoutsContainer {
        grid-template-areas:

            ". . titre titre titre titre . ."
            ". pouce1 atouts atouts atouts atouts pouce2 ."
        ;
    }

    .titreAtouts h2 {
        font-size: 2rem;
    }

    .atouts {
        font-size: 1.5rem;
    }

    .img_pouce1,
    .img_pouce2 {
        width: 120px;
        margin-top: 29px;
    }
}

@media(min-width: 1400px) {

    .prezContainer {
        max-width: 1280px;
    }

    .activityTable img {
        width: 6rem;
    }
    
    .activityTable span {
        font-size: 1.75rem;
    }
}