.btn_blue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--btn_blue);
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Titillium";
    box-shadow: var(--btn_shadow);
    transition: background-color 0.2s;
}

.btn_blue:hover {
    background-color: var(--btn_blue_hover);
}

.btn_green {
    padding: 2px 6px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.5rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    cursor: pointer;
}

.btn_green:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: 992px) {

    .btn_blue {
        font-size: 1.5rem;
    }

    .btn_green {
        font-size: 1.25rem;
        padding: 6px 16px;
    }
}