.compétencesInfoContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

#paraphTechnologies {
    width: 100%;
    margin: 0 auto 2rem;
}

.tekContainer {
    width: 18rem;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    background-color: var(--background);
    color: var(--dark);
    box-shadow: var(--shadow);
}

.tekContainer h3 {
    font-size: 1.25rem;
    margin: 0 0 1rem;
}

.tekTable {
    width: 100%;
    height: 14rem;
    border-top: solid 2px var(--dark);
}

 .tek_img {
    margin: 0 auto;
    width: 3.5rem;
}

.mysql {
    width: 4.75rem;
}

@media (min-width: 576px) {

    #paraphTechnologies {
        width: 30rem;
    }
   
}

@media (min-width: 768px) {
    .compétencesInfoContainer {
        grid-template-columns: 1fr 1fr;
        gap: 3;
    }

    #paraphTechnologies {
        margin: 0 auto var(--navBarHeight);
    }

    .tekContainer {
        width: 16rem;
    }

    .tek_img {
        width: 3.25rem;
    }

    .mysql {
        width: 4.5rem;
    }
}

@media (min-width: 992px) {

    /* .compétencesInfoContainer {
        gap: 4rem;
    } */
    
    /* .tekContainer {
        width: 304px;
        padding: 1rem;
        margin: 0 auto;
        text-align: center;
        font-size: 1rem;
        background-color: var(--background);
        color: var(--dark);
        box-shadow: var(--shadow);
    } */
    
    /* .tekContainer h3 {
        font-size: 1.5rem;
    } */

    #paraphTechnologies {
        width: 40rem;
    }
    
}

@media (min-width: 1400px) {
    .compétencesInfoContainer {
        grid-template-columns: repeat(4, 1fr);
        

    }  

}