.spaceTrip {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    width: 100%;
    position: relative;
    margin: auto;
}

.placeContainer {
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

.placeContainer p {
    margin: 4px 0 16px 0;
    font-size: 0.75rem;
}

.contactPics {
    width: 216px;
    margin: 0 auto;
}

#ufo {
    position: absolute;
    width: 100px;
    animation: movingUFO 10s infinite;
}

#copyright{
    vertical-align: middle;
}

@keyframes movingUFO {
    0% {
        right: 75%;
        top: 0%;
    }

    12.5% {
        right: 75%;
        top: 0%;
    }

    25% {
        right: 5%;
        top: 0%;
    }

    37.5% {
        right: 75%;
        top: 40%
    }

    50% {
        right: 5%;
        top: 40%;
    }

    62.5% {
        right: 75%;
        top: 67%;
    }

    75% {
        right: 5%;
        top: 67%;
    }

    87.5% {
        right: 50%;
        top: 100%;
    }

    100% {
        right: 50%;
        top: 100%;
    }
}

@media (min-width: 768px) {
    .contactPics {
        width: 300px;
    }

    .placeContainer p {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    .spaceTrip {
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
    }

    .contactPics {
        width: 400px;
    }

    #ufo{
        width: 150px;
    }
}

@media (min-width: 1920px){

    .spaceTrip {
        width: 85%;
    }
}

