#footer {
    background-color: var(--primary);
}

.footer1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin-top: 20px;
}

.footer2{
    display: flex;
    justify-content: space-around;
}

.logoFoot {
    display: flex;
    align-items: center;
    width: fit-content;
    /*outline: solid 2px green;*/
}

.logoFoot img {
    width: 20px;
    margin: 0 10px;
    /*outline: solid 2px red;*/
}

@media (min-width: 992px){

    .logoFoot img {
        width: 30px;
        
    }

    .footer1{
        padding-top: 20px;
    }
}