#formTitle {
    text-align: center;
    color: var(--dark);
    font-size: 1.25rem;
}

#formContainer {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 2rem;
    background-color: white;
    box-shadow: var(--shadow);
}

.fieldContainer {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2.75rem;
    position: relative;
}

.fInput {
    display: inline-block;
    box-sizing: border-box;
    width: inherit;
    padding: 0.5rem 1rem;
    border: solid 1px rgba(0, 0, 0, 0.37);
    border-radius: 6px;
    font-size: 0.75rem;
}

.fInput:focus {
    border: solid 1px #5468ff;
}

#fMessage {
    height: 8rem;
}

.fLabel,
.fError {
    display: block;
    font-size: 0.75rem;
    padding: 0 1rem;
    position: absolute;
}

.fLabel, 
.fError {
    top: -20px;
}

.fError {
    right: 0;
}

.fError {
    color: tomato;
}

.btnContainer {
    width: fit-content;
    margin: 0 auto;
}