.All_Jobs_Container, 
.All_Formations_Container {
    width: fit-content;
    margin: auto;
    color: var(--dark);
}

.job_formation_container {
    display: flex;
    flex-direction: column;
}

.annee_job_formation,
.anneePhone1,
.anneePhone2 {
    text-align: center;
    font-size: 1.25rem;
}

.anneePhone1,
.anneePhone2 {
    padding: 0 5px;
    margin: auto;
    border-bottom: solid 1px var(--dark);
    font-weight: bold;
}

.anneePhone1{
    width: 65px;
}

.anneePhone2{
    width: 120px;
}

.annee_job_formation {
    font-weight: bold;
    display: none;
}

.titre_job_formation {
    font-weight: bold;
    margin: 4px 0 0 0;
    font-size: 1rem;
}

.text_jobFormation_container {
    text-align: center;
}

.text_jobFormation {
    margin: 0 0 20px 0;
    font-size: 0.75rem;
}

@media (min-width:576px) {

    .titre_job_formation {
        font-size: 1.25rem;
    }

    .text_jobFormation {
        font-size: 1rem;
    }

}

@media (min-width:992px) {

    .job_formation_container {
        flex-direction: row;
    }

    .anneePhone1,
    .anneePhone2 {
        display: none;
    }

    .annee_job_formation {
        display: block;
    }

    .titre_job_formation,
    .annee_job_formation {
        font-size: 1.5rem;
    }

    .titre_job_formation,
    .text_jobFormation {
        padding-left: 20px;
    }

    .titre_job_formation {
        border-left: solid 2px var(--dark);
        margin: 24px 0 0 0;
    }

    .text_jobFormation {
        font-size: 1.25rem;
    }

    .job_formation_container {
        flex-direction: row;
    }

    .text_jobFormation_container {
        text-align: left;
        margin-left: 20px;
    }

}