:root {
    /* --primary: #ffecb3; */
    /* --primary: #F2EAD3; */
    --dark: #373741;
    --background: #F5F5F5;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --btn_shadow: inset 0px 0px 1px #777, 0 2px 3px rgba(0, 0, 0, .4);
    --btn_blue: rgb(70, 126, 255, 0.9);
    --btn_blue_hover: rgb(70, 126, 255, 1);
    --navBarHeight: 5rem;
    --primary: #F9F3CC;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Titillium", Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background);
}

main {
    margin: 1rem;
    /* outline: 1px solid blueviolet; */
}

.mainTitles {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: var(--primary);
    background-color: var(--dark);
    width: 100%;
    margin: 2rem auto;
    padding: 0.5rem 0;
}

p {
    color: var(--dark);
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    margin: auto;
    vertical-align: middle;
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

@media (min-width:576px) {
    .mainTitles {
        width: 30rem;
    }
}

@media (min-width:768px) {

    #competences_informatique:before,
    #aPropos:before,
    #projets_informatique:before,
    #formations:before,
    #parcours_pro:before,
    #contact:before {
        content: '';
        display: block;
        height: var(--navBarHeight);
    }

    main {
        margin: 0 5rem;
    }

    .mainTitles {
        margin: 0 auto var(--navBarHeight);
        font-size: 1.5rem;
    }
    
    p {
        font-size: 1.25rem;
    }
    

}

@media (min-width:992px) {

    main {
        margin: 0 8rem;
    }

    /* header::before {
        content: '';
        display: block;
        height: var(--navBarHeightDesktop);
        margin-top: -80px;
    } */

    .mainTitles {
        width: 40rem;
        padding: 0.75rem 2rem;
    }
}

@media (min-width:1400px) {

    .mainTitles {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
    }
}

/* //////// fonts /////////// */
@font-face {
    font-family: "Titillium";
    src:
        url(../font/Titillium_Web/TitilliumWeb-Regular.ttf);

    font-weight: normal;
}

@font-face {
    font-family: "Titillium";
    src:
        url(../font/Titillium_Web/TitilliumWeb-Bold.ttf);

    font-weight: bold;
}

@font-face {
    font-family: "ComingSoon";
    src:
        url(../font/Coming_Soon/ComingSoon-Regular.ttf);
}