.headerImg {
    position: relative;
    background-color: var(--dark);
    background-image: url(../img/fonds/bg_forme_1920.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#titleTop,
#titleDown {
    position: absolute;
    color: #f0f8ff;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
    margin: 0;
}

#titleTop {
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 2.75rem;
    text-align: center;
}

#titleDown {
    top: 57%;
    left: 25%;
    transform: translateX(-25%);
    text-transform: capitalize;
    font-size: 1.5rem;
}

@media(min-width:576px) {

    #titleTop {
        top: 26%;
        font-size: 3.5rem;
    }

    #titleDown {
        top: 54%;
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {

    #titleTop {
        top: 27%;
        font-size: 4rem;
    }

    #titleDown {
        top: 56%;
    }
}

@media (min-width: 992px) {

    .headerImg {
        background-position-y: var(--navBarHeight);
    }

    .titleContainer h1 {
        padding: 27rem 2rem;
    }

    #titleTop {
        top: 31%;
        font-size: 5rem;
    }

    #titleDown {
        top: 62%;
        font-size: 3rem;
    }
}

@media (min-width: 1400px) {

    #titleTop {
        top: 26%;
        font-size: 7rem;
    }

    #titleDown {
        font-size: 3.5rem;
        transform: none;
    }
}

@media (min-width: 1800px) {

    #titleTop {
        top: 28%;
        font-size: 7rem;
    }

    #titleDown {
        top: 70%;
    }
}