#navbarContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgb(55,55,65);
    background: linear-gradient(327deg,
    rgba(55,55,65,1) 0%,
    rgba(0,0,0,1) 50%,
    rgba(55,55,65,1) 100%); 
    overflow: scroll;
}

#mobileContentContainer {
    position: absolute;
    top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#logoNavbarResponsive {
    width: 4.25rem;
    padding: 0.5rem;
    margin-left: 1rem;
}

#logoNavbarDesktop {
    display: none;
}

.hamburger {
    width: 56px;
    padding: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.line {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    background-color: aliceblue;
}

span.line + span.line {
    margin-top: 8px;
}

.menu {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 20vh auto 0;
}

.hiddenNavbar {
    right: 100%;
    transition-property: right;
    transition-duration: 500ms;
}

.visibleNavbar {
    right: 0;
    transition-property: right;
    transition-duration: 500ms;
}

.navTab {
    font-size: 1.25rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.75rem 1rem;
    color: var(--background);
    display: block;
    cursor: pointer;

    width: 11.5rem;
    border-top: solid 0.125rem var(--primary);
    margin: 0 auto;
}

#exContent1,
#exContent2,
#exContent3 {
    border-top: none;
    border-left: solid 0.125rem var(--primary);
    text-align: left;
}

#contactId {
    border-bottom: solid 0.125rem var(--primary);
}


.experiencesTab {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropDownId {
    width: 1rem;
    height: 0.5rem;
    margin-left: 0.5rem;
}

.experienceDropDown {
    padding: 0;
}

.experiencesContent {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    list-style-type: none;
    overflow: hidden;
}

.hiddenElement {
    pointer-events: none;
    height: 0;
    padding: 0;
    transition-property: padding, height;
    transition-duration: 0.4s;
}

.visibleElement {
    height: 10.313rem;
    transition-property: padding, height;
    transition-duration: 0.4s;
}

.iconUp {
    animation-name: turnUp;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;

    /* garantit que l'élément conserve la dernière étape de l'animation,
    en figeant son état final. */
    animation-fill-mode: forwards;
}

@keyframes turnUp {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-540deg);
    }
}

.iconDown {
    animation-name: turnDown;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;

    /* garantit que l'élément conserve la dernière étape de l'animation,
    en figeant son état final. */
    animation-fill-mode: forwards;
}

@keyframes turnDown {
    from {
        transform: rotate(-540deg);
    }

    to {
        transform: rotate(0deg);
    }
}

#dropDownSvg {
    width: 2rem;
}

@media (min-width:992px) {

    #navbar {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: var(--navBarHeight);
        background: var(--background);
        box-shadow: var(--shadow);
        overflow: visible;
        z-index: 1000;
    }

    #logoNavbarDesktop {
        display: block;
        width: 3.75rem;
        margin-left: 3rem;
    }

    #mobileContentContainer {
        display: none;
    }

    .menu {
        position: static;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        height: var(--navBarHeight);
        padding: 0;
        margin: 0;
    }

    .navTab {
        /* font-size: 1rem; */
        width: auto;
        border: none;
        /* margin: 0; */

        font-size: 1.25rem;
        margin: 0 1rem;
        color: var(--dark);
    }

    .hover {
        background-color: var(--dark);
        color: var(--primary);
        transition: 0.4s;
    }

    .experiencesContainer {
        position: relative;
    }
    
    .experienceDropDown {
        position: absolute;
        top: 100%;
        left: 50%;
        padding-top: 0.75rem;
        width: fit-content;
        cursor: pointer;
        transform: translateX(-50%);
    }

    .experiencesContent {
        box-shadow: var(--shadow);
        background-color: var(--background);
    }

    .experiencesContent .navTab {
        margin: 0;
    }

    .visibleElement {
        /* height: 11.875rem; */
        height: 12.813rem;
        padding: 1rem;
    }

    #exContent1,
    #exContent2,
    #exContent3 {
        border-left: none;
        border-top: solid 0.125rem var(--dark);
        text-align: center;
        /* width: auto; */
    }

    #exContent3 {
        border-bottom: solid 0.125rem var(--dark);
    }

    #contactId {
        border: none;
    }

    .line {
        display: none;
    }
}