

/* .figureCard {
    display: flex;
    background-color: inherit;
} */

.figureContainer {
    position: relative;
    margin: auto;
    width: 280px;
    box-shadow: var(--shadow);
}

.prezFigure {
    margin: auto;
}

.prezCaption {
    color: var(--dark);
    text-align: center;
    padding: 0.25rem;
    font-size: 0.75rem;
}

#proImgContainer {
    position: relative;
    width: 120px;
    margin: 1rem auto;
}

#imgWin {
    opacity: 1;
}

#imgFail {
    position: absolute;
    left: 0;
    opacity: 0;
}

.message {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem;
    margin: auto;
    color: white;
}

.messageCenterVerticaly {
    justify-content: center;
}

.message h3 {
    font-size: 1.25rem;
    color: tomato;
}

.message p {
    margin: 0;
    font-weight: bold;
    font-size: 0.75rem;
    color: white;
}

.gameBtnContainer {
    width: fit-content;
    margin: 2rem auto 0;
}

.loadingGifContainer {
    width: 24px;
    margin-right: 0.5rem;
    display: none;
}

#loadingGif {
    display: block;
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1080deg);
    }
}

.rotating {
    animation: rotating 2s alternate 2;
    transition: opacity 2s;
    transition-delay: 2.5s;
}

@media(min-width: 576px) {
    .figureContainer {
        width: 320px;
    }

    .message h3 {
        font-size: 1.25rem;
    }

    .message p {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {

    .projetsInfoPrezContainer {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(12, 1fr);
        margin: 0 auto;
    }

    #figure1 {
        grid-column: 1 / 6;
    }

    #proImgContainer {
        grid-column: 6 / 8;
        width: 85%;
    }

    #figure2 {
        grid-column: 8 / 13;
    }

    .figureContainer {
        width: 80%;
    }

    .prezCaption {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    .message h3 {
        font-size: 2rem;
    }

    .message p {
        font-size: 1.25rem;
    }

    #gameBtnText {
        font-size: 1.2rem;
    }

    .loadingGifContainer {
        width: 40px;
    }
}

@media (min-width: 1400px) {

    .message h3 {
        font-size: 2.5rem;
    }

    .message p {
        font-size: 1.5rem;
    }
}